//- Extending the layout
extends layouts/main-layout.pug

//- This hook will now allow us to add content
//- Adding these styles her because they are not common for the other files
block styles
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/product.css")

//- This hook will now allow us to add content
block content
    main
        form.product-form(action="/admin/add-product", method="POST")
            .form-control
                label(for="title") Title
                //- id="title" can be written as #title
                input(type="text", name="title")#title
            button.btn(type="submit") Add Product